<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        {% load bootstrap4 django_tables2 %}
        {% bootstrap_css %} {# Embed Bootstrap CSS #}
        {% bootstrap_javascript jquery='full' %} {# Embed Bootstrap JS+jQuery #}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'clients_table'  %}">Clients <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'fournisseur_table' %}">Fournisseurs <span class="sr-only">(current)</span></a>
      </li>
         </li>

        <li class="nav-item active">
        <a class="nav-link" href="{% url 'facture_list' %}">Factures <span class="sr-only">(current)</span></a>
      </li>


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


        <div class="container">


                    <div class="row">
                        {% for table in tables %}
                
                        
                        <div class="col-md-6">
                            {% render_table table %}
                        </div>
                        {% endfor %}

                    </div>
                
            
        </div>
    </body>
</html>